<html lang="nl" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" th:href="@{/images/frituur.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/frituur.css}">
  </head>
  <nav th:fragment="menu">
    <ul>
      <li><a th:href="@{/}">Welkom</a></li>
      <li><a th:href="@{/sauzen}">Sauzen</a></li>
      <li><a th:href="@{/talen}">Taal</a></li>
      <li><a th:href="@{/sauzen/alfabet}">Saus alfabet</a></li>
      <li><a th:href="@{/snacks/alfabet}">Snacks alfabet</a></li>
      <li><a th:href="@{/snacks/aantalverkochtesnacksperid}">Verkochte aantallen per snack</a></li>
      <li><a th:href="@{/snacks/beginnaam/form}">Snacks beginnend met</a></li>
      <li><a th:href="@{/frieten/zoeken}">Zoek de friet</a></li>
      <li><a th:href="@{/sauzen/raden}">Raad de saus</a></li>
    </ul>
  </nav>
</html>